body {
  margin: 0;
  background-color: rgba(235, 229, 229, 0.918)
}
#header{
  background-color: #201d1b;
  padding: 0;
  border: 100px;
  border-color: black;
}

#header li a:hover{
  color:rgb(143, 143, 197)
}

h2{
  font-family: 'IBM Plex Mono', monospace;
}

.inventions{
  font-family: 'IBM Plex Mono', monospace;
}
.container{
  width: 1500px;
  margin: 0 auto;
}
.logo-text{
  font-size: 25px;
  color: #fff;
  font-size: 50px;
  color:white;
  font-family: 'Road Rage', cursive;
  padding-left: 20px;
}
#site_nav{
  list-style: none;
  display: inline-block;
  margin-left: 30px;
}
#site_nav li{
  display: inline-block;
  margin-right: 80px;
  font-weight: bold;
}
#site_nav li a{
  text-decoration: none;
  color: rgba(253, 253, 253, 0.932);
}
.headerimage {
  padding: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("nikola.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1500px;
  color: white;
  font-size: 30px;
  font-family: 'Cinzel', serif;
  margin: 0 auto;
  
}

.box{
  box-sizing: border-box;
  width:100%;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid grey;
  margin-top: 10px;
  background-color: #c5bfb5;
  font-family: 'IBM Plex Mono', monospace;
}

.teslacoil,.motor,.radio{
  box-sizing: border-box;
  width: 30%;
  padding: 0;
  border: 2px solid gray;
  border-radius: 25px;
  display: table-cell;
  color:white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}

.teslacoil{

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("teslacoil.jfif");
}

.motor {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("motor.jfif");
}

.radio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("radio.jpg");
}

.articles a{
  color: black;
  font-size: 17px;
}

.articles a:hover{
  color:cornflowerblue;
}
